<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.coldrain.mapper.WordMapper">
	<select id="getList" resultType="org.coldrain.domain.WordVO">
		<![CDATA[
			SELECT /*+ INDEX_ASC(TBL_WORD PK_WORD)*/* FROM TBL_WORD
		]]>
	</select>
</mapper>